@import "tailwindcss";

@theme {
  --default-font-family: "NanumSquare", "sans-serif";
}

@theme {
  --color-black01: #2d2d2d;
  --color-black02: #383838;
  --color-gray01: #a2a2a2;
  --color-gray02: #bdbdbd;
  --color-gray03: #d3d3d3;
  --color-gray04: #eeeeee;
  --color-gray05: #f7f7f7;
  --color-yellow01: #ffaa06;
  --color-red01: #ff3333;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fff;
  }

  button {
    cursor: pointer;
  }

  .recharts-sector:focus {
    outline: none;
  }
}
